---
layout: splash
---

<div class="content-container">
  <br>

  <p>
    <font size="+30">Welcome! We're the Moncla lab, and we're interested in RNA virus emergence, evolution, and transmission.</font>

    <br><br>

  	<img src="{{ '/assets/images/lab-photo-2025-06.jpg' | relative_url }}" alt="Description of Image" style="display: block; margin-left: auto; margin-right: auto; width: 100%;">

    <img src="{{ '/assets/images/word-cloud.svg' | relative_url }}" alt="Description of SVG" />

    <!-- skip a few lines -->
    <br>
  </p>
</div>
